---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "About Me";
---

<BaseLayout>
<div class="page-center">
    <h1>{pageTitle}</h1>
</div>
    <h2>Harry Brighton</h2>
    <p>My name is Harry</p>
</BaseLayout>