---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "About Me";
---
<BaseLayout>
    <h1>Harry Brighton</h1>
    <h2>{pageTitle} -</h2>
    <p>My name is Harry</p>
</BaseLayout>