---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "About Me";
---
<BaseLayout>
  <div class="page-center">
    <h1>{pageTitle}</h1>
  </div>

  <h2>Harry Brighton</h2>
  <h3>Professional Information -</h3>
  <h4>Education:</h4>
  <ul class="custom-bullets">
    <li>I graduated from the University of Sheffield in 2024 with a 2:1 in Law LLB at Undergraduate Level.
      <ul>
        <li>I studied areas of law including: administrative, contract, criminal, employment, property (including equity and trusts), and public law.</li>
      </ul>
    </li>
    <li>I have recently finished my Master's Degree in Politics, Governance and Public Policy also at the University of Sheffield, with my course finishing at the end of August 2025.</li>
  </ul>
  <h4>Professional Interests:</h4>
  <ul class="custom-bullets">
    <li>Policymaking and analysis on matters including transport, regeneration, local government issues and assurance.
      <ul>
        <li>The focus of my Master's dissertation was on the public transport systems of Greater Manchester and Greater London, exploring these integrated networks through the lens of Positive Public Policy.</li>
      </ul>
    </li>
  </ul>
</BaseLayout>
