<a href="/">Home</a>
<a href="/enquiries/">Enquiries</a>
<a href="/about/">About Me</a>
<a href="/blog/">Blog</a>
<a href="/photography/">Photography</a>
<a href="/links/">Links</a>
<body>
    <h1>Harry Brighton</h1>
    <h2>About Me -</h2>
    <p>My name is Harry</p>
</body>