---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
const pageTitle = "About Me";
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{pageTitle}</title>
    <style>
        h1 {
        font-family: "Work Sans Variable",sans-serif;
        color: rgb(255, 255, 255);
        font-size: 4rem;
      }
    </style>
  </head>
  <Header />
  
<body>
    <h1>Harry Brighton</h1>
    <h2>{pageTitle} -</h2>
    <p>My name is Harry</p>
    <Footer />

    <script>
    document.querySelector('.hamburger')?.addEventListener('click', () => {
      document.querySelector('.nav-links')?.classList.toggle('expanded');
    });
  </script>
</body>