---
import { getCollection } from "astro:content";
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';

const pageTitle = "Website Devlopment Log";
const allPosts = await getCollection("blog");
---
<BaseLayout>
    <h1>Blog</h1>
    <h2>{pageTitle} -</h2>
    <ul>
        {
            allPosts.map((post) => (
                <BlogPost url={`/posts/${post.id}/`} title={post.data.title} />
         )) 
        }
    </ul>
</BaseLayout>