<a href="/">Home</a>
<a href="/enquiries/">Enquiries</a>
<a href="/about/">About Me</a>
<a href="/blog/">Blog</a>
<a href="/photography/">Photography</a>
<a href="/links/">Links</a>
<body>
    <h1>Enquiries</h1>
    <h2>If you have any questions -</h2>
    <p>When this page is fully operational, there will be an enquiry form available.</p>
</body>