---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Enquiries";
---
<BaseLayout pageTitle={pageTitle}>
    <h2>If you have any questions -</h2>
    <p>When this page is fully operational, there will be an enquiry form available.</p>
</BaseLayout>