---
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
const pageTitle = "Enquiries";
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{pageTitle}</title>
  </head>
  <Navigation />
  <Footer />
<body>
    <h1>{pageTitle}</h1>
    <h2>If you have any questions -</h2>
    <p>When this page is fully operational, there will be an enquiry form available.</p>
</body>