---import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Enquiries";
---
<BaseLayout pageTitle={pageTitle}>
<div class="page-center">
     <h1>Enquiries</h1>
</div>
    <h2>If you have any questions -</h2>
<!-- Embedded Google Form -->
<style>
  .responsive-form iframe {
    width: 100%;
    height: 1200px;
  }

  @media (min-width: 768px) {
    .responsive-form iframe {
      width: 640px;
      height: 1100px;
    }
  }
</style>

<div class="responsive-form page-center" style="margin-top: 1rem;">
  <iframe
    src="https://docs.google.com/forms/d/e/1FAIpQLSeTXpA_Y_VlB--oyTgnU5Xulp6iLdq9I3QQRFcxUs9mE-8tFA/viewform?embedded=true"
    frameborder="0"
    marginheight="0"
    marginwidth="0"
  >
    Loading…
  </iframe>
</div>

</BaseLayout>