---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Brighton and Co";
---
<BaseLayout pageTitle={pageTitle}>
  <!-- Add the "vert-center" class only if you want vertical centering -->
  <div class="page-center">
    <h1>Home</h1>
  </div>
  <h2>About This Website -</h2>
  <p>This website is a personal project created by Harry Brighton to showcase his work and interests.</p>
<hr class="section-divider" />


  <h2>The Latest -</h2>
  <p>This is the new Brighton and Co website.</p>
   <p><a href="https://old.brightonandco.co.uk" class="inline-link">Access the old Brighton and Co Website</a>.
</BaseLayout>