---
const pageTitle = "Brighton and Co";
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{pageTitle}</title>
  </head>
<a href="/">Home</a>
<a href="/enquiries/">Enquiries</a>
<a href="/about/">About Me</a>
<a href="/blog/">Blog</a>
<a href="/photography/">Photography</a>
<a href="/links/">Links</a>
<body>
    <h1>{pageTitle}</h1>
</body>