---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Brighton and Co";
---
<BaseLayout pageTitle={pageTitle}>
  <!-- Add the "vert-center" class only if you want vertical centering -->
  <div class="page-center">
    <h1>Home</h1>
  </div>
  <h3>The Latest -</h3>
  <p><i>This website is currently under development.</i></p>
</BaseLayout>