---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Brighton and Co";
---
<BaseLayout pageTitle={pageTitle}>
  <!-- Add the "vert-center" class only if you want vertical centering -->
  <div class="page-center">
    <h1>Home</h1>
  </div>
  <h3>About this website -</h3>
  <p>This website is a personal project created by Harry Brighton to showcase his work and interests.</p>
  <h3>The Latest -</h3>
  <p>This is the new Brighton and Co website - most pages and features are working, though minor tweaks and changes are still being made.</p>
   <p><i>This website is currently under development.</i></p>
   <p><a href="https://web.brightonandco.co.uk" class="inline-link">Access the old Brighton and Co Website</a>.
</BaseLayout>