---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting';
const pageTitle = "Brighton and Co";
---
<BaseLayout pageTitle={pageTitle}>
  <h2>Home</h2>
      <Greeting client:load messages={["Hello", "Hi","Hello There"]} />
      <p>This website is currently under development.</p>
</BaseLayout>