<a href="/">Home</a>
<a href="/about/">About Me</a>
<a href="/enquiries/">Enquiries</a>
<a href="/photography/">Photography</a>
<a href="/links/">Links</a>
<body>
    <h1>Links</h1>
    <h2>Social Media -</h2>
    <p>When this page is operational, there will be links available.</p>
</body>