---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Links";
---
<BaseLayout>
    <h1>{pageTitle}</h1>
    <h2>Social Media -</h2>
    <p>When this page is operational, there will be links available.</p>
</BaseLayout>