<a href="/">Home</a>
<a href="/enquiries/">Enquiries</a>
<a href="/about/">About Me</a>
<a href="/blog/">Blog</a>
<a href="/photography/">Photography</a>
<a href="/links/">Links</a>
<body>
    <h1>Photography</h1>
    <h2>My Favourite Photos -</h2>
  <p>Here, I will post photos.</p>
</body>