---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Photography";
---
<BaseLayout>
    <h1>{pageTitle}</h1>
    <h2>My Favourite Photos -</h2>
  <p>Here, I will post photos.</p>
</BaseLayout>