---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Terms and Conditions";
---
<BaseLayout pageTitle={pageTitle}>
  <div class="page-center">
    <h1>Terms and Conditions:</h1>
  </div>

<h2>What test.brightonandco.co.uk is -</h2>
<p>test.brightonandco.co.uk is my own website (Harry Brighton). I solely maintain the website in my own free time.</p> 
<p>When references are subsequently made to "my", "myself", "my own", or something similar, it is referring to me, Harry Brighton.</p>
<p>When references are subsequently made to "website", "site", or something similar, it is referring to test.brightonandco.co.uk and to any and all of its constituent pages, unless explicitly stated otherwise.</p>

<hr class="section-divider" />

<h2>Using test.brightonandco.co.uk -</h2>
<p>You agree to use test.brightonandco.co.uk and all its pages for solely lawful purposes, permitted by UK law, particularly the law of England and Wales. Otherwise, as permitted by local laws.</p>
<p>You must also use it in a way that does not infringe the rights of, or restrict or inhibit the use and enjoyment of, this site by anyone else.</p>
<p>Your use and continued use of this website can and may likely be used to infer consent with all of the terms contained on this page.</p>
<p>test.brightonandco.co.uk is often updated. This means that content on this website may be changed, altered or removed with no notice.</p>

<hr class="section-divider" />

<h2>Services on test.brightonandco.co.uk -</h2>
<p>You can use test.brightonandco.co.uk, specifically the form located on the <a href="/enquiries" class="inline-link">Enquiries</a> page to send messages and enquiries to myself.</p>
<p>The purpose behind the form is to send professional enquiries, such as to request further information about something pertaining to either myself or my website, for example.</p>
<p>This method of sending enquiries is managed solely by myself, using Google Forms - which has its own terms and conditions.</p>

<hr class="section-divider" />

<h2>Linking to test.brightonandco.co.uk -</h2>
<p>Links to test.brightonandco.co.uk are not permitted unless permission has been sought and granted by myself.</p>
<p>If you would like to have a link on your own website or on social media, please use the form on the <a href="/enquiries" class="inline-link">Enquiries</a> page to request permission.</p>
<p>Until and unless permission has been expressly granted for linking to test.brightonandco.co.uk and/or to any of its constituent pages, please understand that you are not permitted to link to any or all of this website whatsoever.</p>

<hr class="section-divider" />

<h2>Linking from test.brightonandco.co.uk -</h2>
<p>test.brightonandco.co.uk may link to other third-party websites. I do not control nor have any responsibility over the contents of such third-party links.</p>
<p>Thus, I, nor test.brightonandco.co.uk is not responsible for:</p>
<ul>
  <li>the protection of any information you give to these websites</li>
  <li>any loss or damage that may come from your use of these websites, or any other websites they link to.</li>
</ul>
<p>You agree to release myself from any claims or disputes that may come from using these websites.</p>
<p>You are encouraged and should read all terms and conditions, privacy policies and end user licences that relate to these websites before you use them.</p>

<hr class="section-divider" />

<h2>Using content from and/or on test.brightonandco.co.uk -</h2>
<p>Most - if not all photos on test.brightonandco.co.uk are taken by myself and thus I consider myself to be the sole owner of these images.</p>
<p>Thus permission is not granted for the following: </p>
<ul>
    <li>to use,</li>
    <li>to copy,</li> 
    <li>to share,</li>
    <li>to reproduce, or</li>
    <li>to process for purposes of AI training/modelling.</li>
</ul>
<p>Unless and/or until permission is granted expressly for one or any or multiple of the above mentioned purposes, you are strictly prohibited from using or obtaining any of these such images for any above mentioned or similar purposes.</p>
<p>If you would like to obtain permission to use or obtain any images from myself for any of these above purposes - excluding AI training/modelling expressly, please use the form on the <a href="/enquiries" class="inline-link">Enquiries</a> page.</p>

<hr class="section-divider" />

<h2>Requests to remove content from test.brightonandco.co.uk -</h2>
<p>You can ask for content to be removed from test.brightonandco.co.uk. </p>
<p>Content may be removed, for example:</p>
<ul>
  <li>in order to comply with data protection legislation covering the rights and freedoms of individuals</li>
  <li>if it breaches copyright laws, contains sensitive personal data or material that may be considered obscene or defamatory.</li>
</ul>
<p>Please use the form on the <a href="/enquiries" class="inline-link">Enquiries</a> page to make a request for content to be removed. You will need to send the web address (URL) of the content and explain why you think it should be removed. I will reply to let you know whether I will remove it.</p>
<p>Content will be removed at my sole discretion.</p>

<hr class="section-divider" />

<h2>Information about you and when you visit test.brightonandco.co.uk -</h2>
<p>When you visit test.brightonandco.co.uk information about you and your visit may be collected by <a href="https://policies.google.com/technologies/cookies?hl=en-GB" class="inline-link">Google</a> according to their own privacy policies. By visiting test.brightonandco.co.uk - including potentially any of its constituent pages - you agree to the collection of this information.</p>

<hr class="section-divider" />

<h2>Cyber-security when you visit test.brightonandco.co.uk -</h2>
<p>Every reasonable effort is made to ensure to check viruses on test.brightonandco.co.uk when the website is being updated. You must make sure that the way you use test.brightonandco.co.uk does not expose you to the risk of viruses, malicious computer code or other forms of interference which can damage your computer system.</p>
<p>I am not responsible for any loss, disruption or damage to your data or computer system that might happen when you use test.brightonandco.co.uk.</p>
<p>When using test.brightonandco.co.uk, you must not introduce viruses, trojans, worms, logic bombs or any other material that’s malicious or technologically harmful.</p>
<p>You must not try to gain unauthorised access to test.brightonandco.co.uk, the server on which it is stored or any server, computer or database connected to it. You must also not attempt to edit the website or make any unauthorised alterations or changes whatsoever.</p>
<p>You must not attack test.brightonandco.co.uk in any way. This includes denial-of-service attacks.</p>
<p>Any attacks or attempts to gain unauthorised access to test.brightonandco.co.uk may be reported to the relevant law enforcement authorities, where information about you will be shared with them.</p>

<hr class="section-divider" />

<h2>Governing law of test.brightonandco.co.uk -</h2>
<p>These terms and conditions are governed by and construed in accordance with the laws of England and Wales.</p>
<p>Any dispute you have which relates to these terms and conditions, or your use of test.brightonandco.co.uk (whether it be contractual or non-contractual), will be subject to the exclusive jurisdiction of the courts of England and Wales.</p>

<hr class="section-divider" />

<h2>General terms and conditions of test.brightonandco.co.uk -</h2>
<p>There may be (legal) notices elsewhere on test.brightonandco.co.uk that relate to how you use the site.</p>
<p>I am not liable if there is failure to comply with these terms and conditions because of circumstances beyond my reasonable control.</p>
<p>I may decide not to exercise or enforce any right available to myself under these terms and conditions. I can always decide to exercise or enforce that right at a later date.</p>
<p>Doing this once will not mean that I automatically waive the right on any other occasion.</p>
<p>If any of these terms and conditions are held to be invalid, unenforceable, unlawful or illegal for any reason, the remaining terms and conditions will still apply.</p>

<hr class="section-divider" />

<h2>Changes to term and conditions of test.brightonandco.co.uk -</h2>
<p>Please check these terms and conditions regularly. They can be updated at any time without notice.</p>
<p>You will agree to any changes if you continue to use test.brightonandco.co.uk - including any of its constituent pages - after the terms and conditions have been updated.</p>

<hr class="section-divider" />

<h2>Disclaimers -</h2>
<p>While I make every effort to keep test.brightonandco.uk up to date, I do not provide any guarantees, conditions or warranties that the information will be:</p>
<ul>
<li>current</li>
<li>secure</li>
<li>accurate</li>
<li>complete</li>
<li>free from bugs or viruses or any such malware.</li>
</ul>
<p>I do not publish advice on test.brightonandco.co.uk. You should get professional or specialist advice before doing anything on the basis of the content seen on this website.</p>
<p>All content on test.brightonandco.co.uk is presented and provided as is.</p>
<p>I am not liable for any loss or damage that may come from using test.brightonandco.co.uk. This includes:</p>
<ul>
<li>any direct, indirect or consequential losses</li>
<li>any loss or damage caused by civil wrongs (‘tort’, including negligence), breach of contract or otherwise</li>
<li>the use of test.brightonandco.co.uk and any websites that are linked to or from it</li>
<li>the inability to use test.brightonandco.co.uk and any websites that are linked to or from it.</li>
</ul>
<p>This applies if the loss or damage was foreseeable, arose in the normal course of things or you advised us that it might happen.</p>
<p>This includes (but is not limited to) the loss of your:</p>
<ul>
<li>income or revenue</li>
<li>salary, benefits or other payments</li>
<li>business</li>
<li>profits or contracts</li>
<li>opportunity</li>
<li>anticipated savings</li>
<li>data</li>
<li>goodwill or reputation</li>
<li>tangible property</li>
<li>intangible property, including loss, corruption or damage to data or any computer system</li>
<li>wasted management or office time.</li>
</ul>
<p>There may still be liability for:</p>
<ul>
<li>death or personal injury arising from our negligence</li>
<li>fraudulent (mis)representation</li>
<li>any other liability which cannot be excluded or limited under applicable law.</li>
</ul>

<hr class="section-divider" />
<p>Originally published: 04/11/2025.</p>
<p>Terms and Conditions version: 1.0.0.</p>
</BaseLayout>