---
import Navigation from './Navigation.jsx';
import ThemeIcon from './ThemeIcon.jsx';
---

<header class="site-header">
  <div class="site-title">
    <a href="/">
      <img src="/logo.png" alt="Logo" />
      <span class="site-title-text">TEST: Brighton and Co</span>
    </a>
  </div>

  <ThemeIcon client:load />
  <Navigation client:load />
</header>
