---
import Navigation from './Navigation.jsx';
import ThemeIcon from './ThemeIcon.jsx';
---

<header class="site-header">
  <div class="site-title">
    <a href="/">TEST: Brighton and Co</a>
  </div>

  <ThemeIcon client:load />
  <Navigation client:load />
</header>
