---
---
<nav class="nav-links" id={Astro.props.id}>
    <a href="/">Home</a>
    <a href="/enquiries/">Enquiries</a>
    <a href="/about/">About Me</a>
    <a href="/blog/">Blog</a>
    <a href="/photography/">Photography</a>
    <a href="/links/">Links</a>
</nav>